#secret_word, #wrong_letters, #lives {
    font-size: 4em;
}
#lives {
    color: crimson;
}
#hangman-container img {
    position: absolute;
}
#hangman-container {
    position: relative;
}

#hangman-1 {
    display: none;
}

#hangman-2 {
    display: none;
}

#hangman-3 {
    display: none;
    left: 172px;
}

#hangman-4 {
    display: none;
    left: 145px;
    top: 45px;
}

#hangman-5 {
    display: none;
    top: 102px;
    left: 172px;
}

#hangman-6 {
    display: none;
    top: 120px;
    left: 142px;
}

#hangman-7 {
    display: none;
    top: 120px;
    left: 177px;
}

#hangman-8 {
    display: none;
    top: 180px;
    left: 142px;
}

#hangman-9 {
    display: none;
    top: 180px;
    left: 177px;
}
